<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1045668157554-4252r413h2ninrcnjl1l9orsq7c5qfaq.apps.googleusercontent.com">
    <title>Login</title>
</head>
<body>
    <hi>Login</hi>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>


    <script>
        function onSignIn(googleUser) {
         
            var id_token = googleUser.getAuthResponse().id_token;
            console.log(id_token);
            /*
            var xhr = new XMLHttpRequest();
xhr.open('POST', '/login');
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.onload = function() {
  console.log('Signed in as: ' + xhr.responseText);
  if(xhr.responseText === 'success'){
    signOut();
    location.assign('/dashboard')


  }
};
xhr.send(JSON.stringify({token: id_token}));
*/
}
function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
    </script>
 
    
</body>
</html>